<%= stylesheet_link_tag  "styles/table" %>

<% page_header "Clients"%>

<br />
<div class="pagination">
<table id="hor-zebra">
  <tr>    
    <th>Client's fee</th>
    <th>Client's email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientships.each do |clientship| %>
  <tr>    
    <td><%= clientship.fee %></td>
    <td><%= clientship.client.email %></td>
    <td><%= link_to 'Show', clientship %></td>
    <td><%= link_to 'Edit', edit_clientship_path(clientship) %></td>
    <td><%= link_to 'Destroy', clientship, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</div>
<br />

<%= link_to 'Add A New Client', new_clientship_path %>
