<h3>List of Clients</h3>

<br />

<table>
  <tr>    
    <th>Client's fee</th>
    <th>Client's email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clientships.each do |clientship| %>
  <tr>    
    <td><%= clientship.fee %></td>
    <td><%= clientship.client.email %></td>
    <td><%= link_to 'Show', clientship %></td>
    <td><%= link_to 'Edit', edit_clientship_path(clientship) %></td>
    <td><%= link_to 'Destroy', clientship, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add A New Client', new_clientship_path %>
