<% page_header "Receipts"%>

<%= radio_button_tag :view, 'list', !view_style_selector %> View list  <%= radio_button_tag :view, 'calendar', view_style_selector %> View calendar

<div id="list" style="<%= @list_style_display %>">
	<div class="pagination">
	<table id="hor-zebra">
	  <tr>
	  	<th>Issued at</th>
	    <th>Type</th>
	    <th>Title</th>
	    <th>Amount</th>       
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	
	<% @receipts_list.each do |receipt| %>
	  <tr>
	  	<td><%= receipt.issued_at %></td>
	    <td><%= receipt.payment %></td>
	    <td><%= receipt.title %></td>
	    <td><%= receipt.amount %></td>        
	    <td><%= link_to 'Show', receipt %></td>
	    <td><%= link_to 'Edit', edit_receipt_path(receipt) %></td>
	    <td><%= link_to 'Destroy', receipt, confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
	<% end %>
	</table>
	</div>
	
	<%= will_paginate @receipts_list %>

</div>

<br />

<div id="calendar" style="<%= @calendar_style_display %>" >
  <h2 id="month">
    <%= link_to "&lang;".html_safe, :month => (@date.beginning_of_month-1).strftime("%B %Y"), :view => 'calendar' %>
    <%=h @date.strftime("%B %Y") %>
    <%= link_to "&rang;".html_safe, :month => (@date.end_of_month+1).strftime("%B %Y"), :view => 'calendar' %>
  </h2>
  <%= calendar_for @receipts, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <%= calendar.day(:day_method => :issued_at) do |date, receipts| %>
      <%= date.day %>
      <ul>
        <% for receipt in receipts %>
          <li><%= link_to h(receipt.title), receipt %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>	

<%= link_to 'Add A New Receipt', new_receipt_path %>

<br />	

