<!DOCTYPE html>
<html>
<head>
  <title>LaunchSoon</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div >
    
    <%= image_tag "background_cn_tower.jpg", :id => "background", :class => "stretch" %>
    
    <div id="user_nav">
	<% if user_signed_in? %>
		<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<% else %>
		<%= link_to "Sign in", new_user_session_url %>
	<% end %>
	</div>
		
	<div id="email_subscribe" class="center_display">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<%= yield %>
	</div>

</div>



</body>
</html>
